
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color :#e4d804;
  --bg-color:#23242d;
}
body {
  background-color: var(--bg-color) !important;
}
html {
  scroll-behavior: smooth;
}